<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>Rules</title>
  </head>

  <body>
    <h1>Rules</h1>
    <h2>Hitless Rules</h2>
    <p>A Hit is defined by a loss of health and/or stagger caused by an enemy. Hits from player triggered traps count, environmental damage does not (Static features as lava, water, swamp, spikes, campfires are fine). While fall damage does not count, a death from falling will. Blocking an enemy counts as a hit, but a pefect parry/deflect does not. The use of magic and/or bows is fine. Major glitches ARE NOT ALLOWED (Shadows AI Glitch, Sage Skip, etc.). Sequence breaking events ARE NOT ALLOWED. Minor glitches ARE ALLOWED (Air roll fall damage cancel, animation cancel, etc.). Quitouts are GENERALLY NOT ALLOWED, because throughout the series(except DS2), it resets enemy positions, which would’ve make running sections way easier. Quitouts are allowed in Demon’s Souls and Dark Souls 1, because of clunky game mechanics(Fog Ring pickup, Farming Lizards in DeS), but WHEN YOU ARE NOT BEING CHASED BY AN ENEMY.</p>
    <h2>Damageless Rules</h2>
    <p>Damage is defined by a loss of health caused by an enemy, grabs, traps, poison, fall damage or something environment that reduces the HP Bar from the character. NG+ and similar stuff ARE NOT ALLOWED. Major glitches ARE NOT ALLOWED. Sequence breaking events ARE NOT ALLOWED. Minor glitches ARE ALLOWED (Fast Shoting, Pump Cancel, Air Roll fall damage cancel, etc.). Basically on a NO DAMAGE RUN you are NOT ALLOWED to reduce ur HP BAR by anything.</p>
    <a href="./index.html">Home</a>
  </body>
</html>
